<section class="main mt-1  bg-opacity-0  " style="background-color:#EFF6FF; height: 100rem;">

    <div class="flex flex-row">
        <div class="ml-40 mt-20">
            <div class="font ">
                Shopping history
               </div>
        </div>
      </div>
  
      <div class="flex flex-col ml-40 mt-20">
        <div class="font" style="font-size: 20px;">
            August 2020
        </div>
        <div>
            <app-pedido></app-pedido>
        </div>
      </div>

</section>

