.button-box 
    width:4rem
    height: 5rem
    margin-left:1rem

.margin-div
    margin-top:10rem
    width:100px
    height:100em

.first-content
    width: 5em
    height: 100%
    margin-top: -100px
    position: fixed

.label 
    border-color: black
    width: 50px
    font-size: 12px
    text-align: center
    border-radius: 4px
    background-color: #454545
    color:#FFFFFF

.poli
    position: absolute
    width: 11.44px
    height: 11.44px
    left: 74.91px
    top: 364.71px
    background: #454545
    border-radius: 1px
    transform: rotate(-90deg)

.tooltip
  position: relative
  display: inline-block

  
.tooltip .tooltiptext 
    visibility: hidden
    width: 50px
    background-color: black
    color: #fff
    text-align: center
    border-radius: 15px
    position: absolute
    top: 2px
    left: 40%
    font-size: 11px

.tooltip:hover .tooltiptext 
  visibility: visible


.margin-car
    margin-top:100px




