<div class="first-content ">
    <div class="margin-div ml-2">
        <div class="button-box ">
            
            <button>
              <img src="../../../assets/img/logo.svg">
            </button>
           
        </div>
        <div class="button-box tooltip mt-40" [routerLink]="['/itens']">
                <span class="tooltiptext">Itens</span>
            <button>
                <span class="material-icons ">
                    list
                </span>
           
            </button>
           
        </div>
        <div class="button-box tooltip" [routerLink]="['/history']">
            <span class="tooltiptext" style="width: 70px;">Histórico</span>
            <button>
                <span class="material-icons">
                    replay
                    </span>
            </button>
        </div>
        <div class="button-box tooltip" [routerLink]="['/statistics']">
            <span class="tooltiptext" style="width: 70px;">Estátistica</span>
            <button>
                <span class="material-icons">
                    analytics
                    </span>
            </button>
        </div>
    <div class="circle">
        <div class=" margin-car mt-40" >
            <button  class="shopping__cart ml-10">
                <span class="material-icons">
                    shopping_cart
                    </span>
            </button>
          
        </div>
    </div>
    </div>
</div>
