@import '../../../../styles/styles.scss'

.main 
  margin-left: 84px
  font-size: 28px
  padding: 0px 10px


.fruit-component
    border-radius: 10px
    height: 50px
    width: 205px
    max-width: 220px
    background-color: #FFFFFF
    text-align: center


button  
    outline: none
