<section class="main mt-1  bg-opacity-0  " style="background-color:#EFF6FF; height: 100rem;">

    <div class="ml-20" [routerLink]="['/history']">
        <button >
            <span class="material-icons mt-10" style="color: #F9A109;">
                keyboard_backspace
            </span>
        </button>
       
    </div>

    <div class="mt-20 ml-20">
        <div class="flex flex-col ...">
            <div class="font">
                Eero’s farewell party
            </div>
            <div class="mt-10 flex flex-row">
                    <span class="material-icons mr-5" style="color: #C1C1C4;">
                        calendar_today
                        </span>
                        <div class="mb-10" style="color: #C1C1C4; font-size: 18px;">
                            Mon 24.8.2020
                </div>
            </div>
          </div>
    </div>

    <div class="grid grid-cols-6 gap-4 mt-10 ml-20">
        <div >
          
            <div  class="fruit-component mt-5">
                <span>Avocado</span>
                <span class="font ml-2" style="color: #F9A109; font-size: 12px;">
                    3 pcs
                </span>
              
            </div>
        </div>
        <div >
            <div class="fruit-component mt-5">
                <span >Banana</span>
                <span class="font ml-2" style="color: #F9A109; font-size: 12px;">
                    3 pcs
                </span>
            </div>

        </div>
      </div>
</section>

