$yellow:#F9A109;
$blue:#56CCF2;
.font{
    font-family: 'Quicksand', sans-serif
}


.main{
    margin-left: 84px;
    font-size: 28px;
    padding: 0px 10px ; 
} 
div{
    border: none;
    outline: none;
}
button{
    
    outline: none;
}
