<section class="main mt-1  " style="background-color:#fcfcfc; height: 100rem;">
   
  <div class="relative pt-1">
    <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
      <div style="width: 30px;" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-gray-500"></div>
    </div>
  </div>
    <div class="flex">
        <div class="flex-item">
          <div style="display: block;">
          <canvas baseChart width="1000" height="400"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
    
      </div>
</section>
