<section class="main mt-1 " style="background-color:#fcfcfc; height: 100rem;">
   

  <div class="grid grid-cols-2 gap-4 ml-40  " style="width: 70rem;">
    <div>
      <span>Top items</span>
    </div>
    <div>
      <span>Top Categories</span>
    </div>
    <div class="relative pt-1">
      <span class="font">Banana</span>
      <div class="progress overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
        <div class="progress__bar__items shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center"></div>
      </div>
    </div>

    <div class="relative pt-1">
      <div class="grid grid-cols-1 gap-2">
        <div>
          <span class="font">Fruit</span>
         
           <span class="font ml-60">100 %</span>
          
        </div>

      
      </div>
  
      <div class="progress overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
       
        <div class="progress__bar__category shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center"></div>
      </div>
    </div>
  </div>
 
  <div class="graph">
  <div class="graph__table flex justify-center mt-40" >


    <div>
        <div>
          <div style="display: block;">
          <canvas baseChart width="1000" height="400"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</section>
