@import '../../../styles/styles.scss';

.pedido-content{
     height: 5rem;
    width: 90rem;
    background-color: white;
    border-radius: 35px;
}
   

div {
    border: none;
     outline: none;
     cursor: pointer;
}