<div class="pedido-content mt-20">
<div class="flex justify-between ...">
    <div class="font ml-10 mt-5">
        Grocery List
    </div>

<div class="grid grid-cols-3 gap-4 mt-5">
    <div class="ml-40" style="color: #C1C1C4;">
        <span class="material-icons">
            calendar_today
            </span>
    </div>
 
  <div style="color: #C1C1C4;">
    Mon 27.8.2020
    </div>

<div class="ml-5">
    <button class="h-10 w-40 border-2 border-blue-200" style="border-radius: 20px; color: #BFDBFE; font-size: 12px;">
        completed
    </button>

    <button>
        <span class=" h-10 ml-10 mr-10 material-icons" style="color: #F9A109;">
            keyboard_arrow_right
            </span>
    </button>
        
       
    
</div>
</div>
</div>
</div>

<div class="pedido-content mt-20">
    <div class="flex justify-between mt-20">
        <div class="font ml-10 mt-5">
            Grocery List
        </div>
    
    <div class="grid grid-cols-3 gap-4 mt-5">
        <div class="ml-40" style="color: #C1C1C4;">
            <span class="material-icons">
                calendar_today
                </span>
        </div>
     
      <div style="color: #C1C1C4;">
        Mon 27.8.2020
        </div>
    
    <div class="ml-5">
        <button class="h-10 w-40 border-2 border-red-200" style="border-radius: 20px; color: #EB5757; font-size: 12px;">
            cancelled
        </button>
    
        <button>
            <span class=" h-10 ml-10 mr-10 material-icons" style="color: #F9A109;">
                keyboard_arrow_right
                </span>
        </button>
            
           
        
    </div>
    </div>
    </div>
</div>