@import '../../../styles/styles.scss';

.alinhamento-box{
    // margin-left: 65em;
    margin-left: 100rem;
}
.box{
    height: 62rem;
    width: 20rem;
    margin-top: -100rem;
    background: #FFFFFF;
}
.produto-image{
    border-radius: 25px;
}

.fonte-chave{
    color: #C1C1C4;
}

.fonte-valor{
    color:000000;
    font-style: normal;
    font-size: 24px;
}


.fonte-note{
    color:000000;
    font-style: normal;
    font-size: 15px;
}

.button-add-list{
    background-color: #F9A109;
    width: 135px;
    height: 67px;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}