  
<div class="box-border h-32 w-screen p-4 border-4 float-right box">
        <ng-content></ng-content>
        <div class="mt-10">
                <img src="../../../assets/img/avocado.jpg" alt="avocado" class="produto-image">
        </div>

        <div class="grid grid-cols-6 gap-4 mt-20">
                <div class="col-start-1 col-span-4 fonte-chave">name</div>
                <div class="col-start-1 col-end-4 fonte-valor">Avocado</div>

                <div class="col-start-1 col-span-4 fonte-chave">category</div>
                <div class="col-start-1 col-end-7 fonte-valor">Fruit and vegetables</div>

                <div class="col-start-1 col-span-4 fonte-chave">note</div>
                <div class="col-start-1 col-end-7 fonte-note">
Nutrient-dense foods are those that provide substantial amounts of vitamins, minerals and other nutrients with relatively few calories. One-third of a medium avocado (50 g) has 80 calories and contributes nearly 20 vitamins and minerals, making it a great nutrient-dense food choice.
                 </div>
              
                 <div class="flex justify-between mt-10">
                        <div class=" fonte-valor mt-5 ml-5">
                                <button>delete</button>
                        </div>
                        <div class="fonte-valor ml-10">
                                <button class="button-add-list">Add to list</button>
                        </div>
                      </div>
                
                
         </div>
</div>